# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
.venv/
env/
venv/

# Databases / binaries
*.duckdb
*.db
*.sqlite
*.parquet

# Secrets / local config
.env
.streamlit/secrets.toml

# OS / editor
.DS_Store
Thumbs.db
.vscode/
